---
layout: default
title: Projects
permalink: /projects
description: "Projects I've built to learn, explore, and create solutions."
---

<div class="container projects-container my-5">

	{% assign featured_projects = site.projects | where: "featured", true %}
	{% if featured_projects.size > 0 %}

	<div class="row mb-5">
		{% for project in featured_projects %}
		<div class="col-md-6">
			{% include projects/featured.html project=project %}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div style="height: 4px; background-color: #007bff; width: 50px; margin: 20px auto;"></div>

	<h3 class="mt-5 mb-4">All</h3>

	<div class="row">
		{% assign nonfeatured_projects = site.projects %}
		{% for project in nonfeatured_projects %}
		<div class="col-md-4">
			{% include projects/thumbnail.html project=project %}
		</div>
		{% endfor %}
	</div>

</div>
