---
layout: default
title: Projects
permalink: /projects
---

<div class="container-fluid projects-container">
	<div class="row">

		<div class="col-md-3 border-end">
			<ul class="list-group">
				{% for project in site.projects %}
				<li class="list-group-item">
					<a href="/blog#{{ project.slug }}" class="blog-link">{{ project.title }}</a>
					<p class="date"> <time datetime="{{ project.date | date_to_xmlschema }}" itemprop="datePublished">{{ project.date | date: "%B %-d, %Y" }}</time></p>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-md-9 mt-3" id="block-content">
			{% for project in site.projects %}
			<div class="blog-post" id="{{ project.slug }}" style="display: none;">
				<h2>{{ project.title }}</h2>
				<!--				<p class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</p>-->
				{{ project.content }}

				<p>
					<a href="{{ project.url }}" class="btn btn-sm btn-outline-primary mt-3">Open Full Page &rarr;</a>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

