<section class="mb-4">
	<h1 class="display-5 fw-medium"><a href="/" class="text-decoration-none">John Ashabahebwa</a></h1>
	<div class="d-flex flex-column flex-md-row gap-3 text-muted">
		<span>Austin, TX</span>
		<span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
		<span><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></span>
		<span><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></span>
	</div>
</section>
