<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
	  <main role="main">
		  <div class="content">

			  {%- include header.html -%}

			  <div class="container">
				  {{ content }}
			  </div>

			  {%- include footer.html -%}

		  </div><!-- content -->
	  </main>
	  <!-- scripts may go here -->
	  <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}" defer></script>
	  <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
