<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
	<main role="main" class="py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-xl-7">
					{% include resume/header.html %}
					{% include resume/summary.html %}
					{% include resume/experience.html %}
					{% include resume/skills.html %}
					{% include resume/education.html %}
					{% include resume/certificate.html %}
					<hr>
					<div><p><i>Short PDF version and references available upon request.</i></p></div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
